
  <div nav-list-items>
    <div class="mt-4 container">
      <h3 class="mat-h2">Wybierz lokalizacje</h3>
      <mat-radio-group class="row">
        <mat-radio-button #myLocation value="1" [checked]="true" color="primary">Moja lokalizacja</mat-radio-button>
        <mat-radio-button #chooseLocation value="2" color="primary">Wybierz lokalizację</mat-radio-button>
      </mat-radio-group>


      <div *ngIf="myLocation.checked">
        <agm-map [latitude]="userLocation.lat" [longitude]="userLocation.lng" [zoom]="userLocation.zoom">
            <agm-marker [iconUrl]="{url:customerMapIcon, labelOrigin:{x:15,y:-8}}" [latitude]="userLocation.lat"
            [longitude]="userLocation.lng" [label]="customerLabel">
            <agm-info-window>
              <p class="info-content bold">Tu jesteś</p>
            </agm-info-window>
          </agm-marker>
          <span *ngIf="playingFieldList">
            <agm-marker *ngFor="let pf of playingFieldList" [iconUrl]="{url:getIcon(pf?.location?.isRegistered), labelOrigin:{x:15,y:-8}}"
              [latitude]="pf?.location?.lat" [longitude]="pf?.location?.lng" [label]="pf?.name">

              <agm-info-window>
                <p>GITARA SIEMA</p>
                <button mat-raised-button color="primary" *ngIf="pf.isRegistered" (click)="isLogged() && reservationDialog(venue.id)"
                  matTooltip="Zaloguj się aby dokonać akcji" matTooltipClass="tooltip-reservation" >Rezerwacja</button>
              </agm-info-window>
            </agm-marker>
          </span>

        </agm-map>
      </div>


      <ng-container *ngIf="chooseLocation.checked">
          <div class="container mt-5 mat-elevation-z10">


              <mat-form-field>
                  <input type="text" placeholder="Podaj lokalizację" matInput [formControl]="selectedLocationControl"
                    [matAutocomplete]="autoComplete">
                  <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="setLocation($event)">

                    <mat-option *ngFor="let option of locations | async" [value]="option.formatted_address">
                      {{option.formatted_address}}
                    </mat-option>

                  </mat-autocomplete>
                </mat-form-field>

              </div>

              <div class="row">
                <agm-map [latitude]="selectedLocation.lat" [longitude]="selectedLocation.lng" [zoom]="selectedLocation.zoom"
                 (mapReady)="mapReady($event)" (centerChange)="centerChange($event)">
                  <agm-marker [iconUrl]="{url:customerMapIcon, labelOrigin:{x:15,y:-8}}" [latitude]="userLocation.lat"
                    [longitude]="userLocation.lng" [label]="customerLabel">
                    <agm-info-window>
                      <p class="info-content bold">Tu jesteś</p>
                    </agm-info-window>
                  </agm-marker>

                  <span *ngIf="playingFieldList">
                    <agm-marker *ngFor="let pf of playingFieldList" [iconUrl]="{url:getIcon(pf?.location?.isRegistered), labelOrigin:{x:15,y:-8}}"
                      [latitude]="pf?.location?.lat" [longitude]="pf?.location?.lng" [label]="pf?.name">

                      <agm-info-window>
                        <p>GITARA SIEMA</p>
                        <!-- <button mat-raised-button color="primary"  (click)="isLogged() && reservationDialog(venue.id)"
                          matTooltip="Zaloguj się aby dokonać akcji" matTooltipClass="tooltip-reservation" >Rezerwacja</button> -->
                      </agm-info-window>
                    </agm-marker>

                  </span>


                </agm-map>
              </div>



      </ng-container>
    </div>
  </div>

